.menu {
  width: 100%;
  height: 125px;
  z-index: 99;
  .theme{
    display: block;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: #f24b21;
    margin: 20px 0 30px;
  }
  .menu-item{
    background-color: #CEC2CC;
  }
}
