<body> 
<h1> 
  <h1><marquee bgcolor="#ffffff" style="color: #0640fd;font-family: Book Antiqua" behavior="alternate"> EXPEDITION DE COLIS PAR VOL PARTOUT EN AFRIQUE </marquee></h1>
<div class="container py-5">

  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="40" class="pr-sm-4 animate__animated animate__fadeInLeft">
    <h4> Nous traitons avec beaucoup de précaution vos colis. Les colis fragiles entrainnent certains cout supplementaires</h4>
      <img class="img-thumbnail" src="assets/img/pages/18apie-mus-2.jpg"/><br><br>
      <h4>Recevez vos colis en moins de 24H</h4>
      <img class="img-thumbnail" src="assets/img/pages/AvionEnVol.png"/><br><br>
      <h4>Nos Modalités par Pays et villes d'expédition</h4>
      <img class="img-thumbnail" src="assets/img/pages/Adjour_Afrique.png"/>

    </div>

    <div fxFlex="100" fxFlex.gt-sm="60" class="pt-sm-0 pt-4 animate__animated animate__delay-1s animate__fadeInLeft">

      <div id="page2_1" class="text-justify">

      </div>

    </div>
  </div>
</div>
</h1>
</body>


