<div fxLayout="row wrap" fxLayoutAlign="end center" class="px-sm-3">

  <div fxFlex="100" class="text-center mt-2 mb-1 text-info">
    <h3>FACTURES</h3>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="60" class="pr-sm-5">
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>recherche dans colis</mat-label>
      <input matInput (keyup)="applyFilterInvoice($event)" placeholder="Recherche dans le tableau">
    </mat-form-field>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="40">
    <button mat-icon-button class="bg-muted2" (click)="invoiceFindAll()"><mat-icon>autorenew</mat-icon></button>
  </div>

</div>



<div class="col-12 overflow-auto">
  <table mat-table [dataSource]="dataSourceInvoice" class="mat-elevation-z8 w-100">
    <!-- Position Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef> Créé le </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.dateCreated}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dateLastUpdate">
      <th mat-header-cell *matHeaderCellDef> Modifiée le </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.dateLastUpdate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="registerBy">
      <th mat-header-cell *matHeaderCellDef> Enregistrée par </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.employer?.userAccount?.name + ' ' + element.employer?.userAccount?.surname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef> Montant </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.amount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totalWeigth">
      <th mat-header-cell *matHeaderCellDef> Poids </th>
      <td mat-cell *matCellDef="let element" class="px-1"> {{element.weigth}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutAlign="center center">
          <a mat-icon-button matTooltip="Voir les détails" (click)="invoiceGet(element)"><mat-icon color="primary">remove_red_eye</mat-icon></a>
          <a mat-icon-button matTooltip="Supprimer" [disabled]="!authService.isAdmin()"  (click)="invoiceDelete(element)"><mat-icon color="warn">delete_forever</mat-icon></a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColmnsInvoice"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColmnsInvoice;"></tr>
  </table>
</div>

<mat-paginator #invoicePaginator class="my-2" color="primary"
               (page)="pageEvent = setPageInvoice($event)"
               [length]="invoiceLength"
               [pageIndex]="invoicePages"
               [pageSize]="10"
               [pageSizeOptions]="[10,25,50,200,500]"></mat-paginator>
