.logo{
  width: 125px;
  height: 125px;
}

.small-heigth{
  height: 40px;
}

.small-heigth-2{
  height: 75px;
}

td,th,p,div{
  color: #6c757d;
}

.title{
  font-size: 3em;
  color: cadetblue;
  font-weight: bold;

}

.sub-title{
  font-size: 2em;
  color: cadetblue;
  font-weight: bold;
}

