<div mat-dialog-title>
  <button mat-button (click)="close()" class="float-left"><mat-icon>close</mat-icon></button>
  <h4 class="text-center">Chauffeur</h4>
</div>

<div mat-dialog-content>

  <form (ngSubmit)="saveChauffeur()" [formGroup]="chauffeurForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="chauffeurForm.controls.name.errors?.required">Nom du chauffeur</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Prenom</mat-label>
      <input matInput formControlName="surname">
      <mat-error *ngIf="chauffeurForm.controls.surname.errors?.required">Prénom du chauffeur</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Télephone</mat-label>
      <input matInput formControlName="telephone" type="number">
      <mat-error *ngIf="chauffeurForm.controls.telephone.errors?.required">téléphone du chauffeur</mat-error>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <button mat-raised-button color="primary"><mat-icon>save</mat-icon> Enregistrer</button>
      <button mat-raised-button color="warn" class="ml-3" type="button"><mat-icon>refresh</mat-icon> Annuler</button>
    </div>
  </form>
</div>

<ngx-spinner
  size="small"
  color="white">
</ngx-spinner>
