<div class="container my-5 py-3" fxFlex="100" fxFlex.gt-sm="50" fxFlexOffset.gt-sm="25">
  <form (ngSubmit)="saveUser()" [formGroup]="registerForm">
    <br/>
    <h3 class="font-4xl text-uppercase text-center">{{appSettings.langue?.register_form_title}}</h3>
    <br/>

    <h4 class="text-danger">{{errorMessage}}</h4>
    <div fxLayout="row wrap" fxLayoutAlign="space-around start">
      <div fxFlex="100" fxFlex.gt-sm="50">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{appSettings.langue?.register_form_name}}</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="registerForm.controls.name.errors?.required">{{appSettings.langue.register_form_error_name_required}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{appSettings.langue?.register_form_surname}}</mat-label>
          <input matInput formControlName="surname">
          <mat-error *ngIf="registerForm.controls.surname.errors?.required">{{appSettings.langue.register_form_error_surname_required}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{appSettings.langue?.register_form_username}}</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="registerForm.controls.username.errors?.required">{{appSettings.langue.register_form_error_username_required}}</mat-error>
          <mat-error *ngIf="registerForm.controls.username.errors?.invalidEmail">{{appSettings.langue.register_form_error_username_invalid_email}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <span class="mr-3">{{appSettings.langue.register_form_sexe}}</span>
        <mat-radio-group formControlName="sexe">
          <mat-radio-button class="mr-3" value="Homme">H</mat-radio-button>
          <mat-radio-button class="ml-3" value="Femme">F</mat-radio-button>
        </mat-radio-group>
      </div>



      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{appSettings.langue?.register_form_password}}</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="registerForm.controls.password.errors?.required">{{appSettings.langue.register_form_error_password_required}}</mat-error>
          <mat-error *ngIf="registerForm.controls.password.errors?.minLength">{{appSettings.langue.register_form_error_password_minlength}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{appSettings.langue?.register_form_password_confirm}}</mat-label>
          <input matInput formControlName="passwordConfirm" type="password">
          <mat-error *ngIf="registerForm.controls.passwordConfirm.hasError('matchingPasswords')">{{appSettings.langue.register_form_error_password_confirm}}</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="text-left">
        <mat-checkbox formControlName="accept" color="warn" required>
          <span class="politique-confidentialite w-100">

          </span>
        </mat-checkbox>
        <mat-error *ngIf="registerForm.controls.accept.errors?.required && submited">{{appSettings.langue.unaccepted_political_confidentiality}}</mat-error>
      </div>

      <br/>
      <br/>
      <br/>
      <button mat-raised-button color="warn">{{appSettings.langue.btn_save}}</button>
    </div>
  </form>

  <div style="height: 100px"></div>
</div>


<ngx-spinner
  name="register"
  size="small"
  color="white">
  template="<img src='assets/logo/logo_entreprise.png' />"
</ngx-spinner>

