<body>
  <h1>
  <h1><marquee bgcolor="#ffffff" style="color: #0640fd;font-family: Book Antiqua" behavior="alternate"> QUI EST ADJOUR-TECHNOLOGIE EN REALITE? </marquee></h1>
<div class="container py-5">

  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="pr-sm-4 animate__animated animate__fadeInLeft">
      <H1>Hebergement des Sites Webs et Achats de Domaines</H1>
      <img class="img-thumbnail" src="assets/img/gif/webs-dev.png"/>

      <br><br>
      <H1>Rapide Expédition</H1>
      <img class="img-thumbnail" src="assets/img/gif/STOCKOSS-900x900-06.gif"/>

    </div>

    <div fxFlex="100" fxFlex.gt-sm="40" class="pt-sm-0 pt-4 animate__animated animate__delay-1s animate__fadeInLeft">

      <div id="page1" class="text-justify">

      </div>

    </div>
  </div>
</div>
</h1>
</body>