
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100" *ngIf="status">
    <mat-label>Selectioner le nouveau Status</mat-label>
    <mat-select [formControl]="formControl">
      <mat-option *ngFor="let s of status" [value]="s.id">{{s.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="text-center">
    <button mat-raised-button [disabled]="formControl.invalid" (click)="saveState()" color="primary"><mat-icon>save</mat-icon> Enregistrer</button>
  </div>

</div>


<ngx-spinner
  size="small"
  color="white"
  name="colisState"
  [fullScreen]="false">
</ngx-spinner>
