.brands-carousel{
  position: relative;
  padding: 8px 0;
  .swiper-container{
    padding: 8px 2px;
    margin: 0 14px;
    .brand-item{
      height: auto;
      padding: 8px;
      display: block;
      align-items: center;
      img{
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
  .swiper-button-prev{
    left: -10px;
  }
  .swiper-button-next{
    right: -10px;
  }
}
