
<body>
  <h1>
  <form action="">
    <div class="container py-5">

  <div fxLayout="row wrap">
    <div fxFlex="80" fxFlex.gt-sm="50" class="pr-sm-4 animate__animated animate__fadeInLeft">
      <h1>Des webs masters professionnels sont là pour developpement, hebergement et achat des domaines de vos sites web de façon dynamique que efficace</h1>
      <img class="img-thumbnail" src="assets/img/pages/unnamed.png"/><br>
      <h1>Conception des apllications mobiles pour les téléphones et pour les pc Portables</h1>
      <img class="img-thumbnail" src="assets/img/pages/appli-mobile.png"/><br>
      <h1>Adjour - Tech fait également dans le dépannage vente des materiels et outils informatiques (des clés USB, Disques dures et bien d'autres outils</h1>
      <img class="img-thumbnail" src="assets/img/pages/materiels.png"/>
      
    </div>

    <div fxFlex="50" fxFlex.gt-sm="50" class="pt-sm-0 pt-4 animate__animated animate__delay-1s animate__fadeInLeft">

      <div id="page2" class="center">

      </div>

    </div>
    
    <div fxFlex="50" fxFlex.gt-sm="50" class="pt-sm-0 pt-4 animate__animated animate__delay-1s animate__fadeInLeft">

      <div id="page2" class="center">

      </div>

    </div>

  </div>
</div>
</form>
</h1>
</body>